In [1]:
from QuakeAPI.DBQueries import *
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import numpy as np

# Lining Up Data 

We have two data sources: EMSC and USGS. Many earthquakes are reported by both places. We need a way to line up the quakes that are the same between the two sources. Unfortunately the time can be off by as much as several seconds, so they aren't exact matches. 


## First thought: K-neighbors

for sake of experimentation I'm going to pull out 2000 quakes from USGS and EMSC and then compare them.

In [2]:
USGS_QUAKES = query_all('SELECT id, time, latitude, longitude, magnitude FROM USGS where magnitude >= 0;')
EMSC_QUAKES = query_all('SELECT id, time, latitude, longitude, magnitude FROM EMSC ORDER BY TIME DESC LIMIT 20000;')
len(USGS_QUAKES), len(EMSC_QUAKES)

(22993, 20000)

Data is in the structure:

'id': quake[0]

'place': quake[1]

'time': quake[2]

'lat': quake[3]

'lon': quake[4]

'mag': quake[5]

In [11]:
#there were NA values to get rid of 
df = pd.DataFrame(USGS_QUAKES)
df = df.dropna()
df = df.set_index(0)
edf = pd.DataFrame(EMSC_QUAKES).set_index(0)
edf.head()

               1      2       3    4
0
1  1586237049900  37.80   16.91  2.9
2  1586236321100  19.20 -155.48  2.2
3  1586236127700  33.51 -116.52  2.1
4  1586234922400  38.42   25.88  2.1
5  1586234581600  38.27   38.82  2.1

In [4]:
# instanciate the classifier
classifier = NearestNeighbors(n_neighbors=1)

In [5]:
# train the classifier 
classifier.fit(df)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                 radius=1.0)

In [12]:
# run the classifier on all the data 
distance, index = classifier.kneighbors(edf)

In [30]:
#check the best match
distance.min()

6.348473394446884

In [77]:
# well damn. There aren't any found. I should come back and try alternate algorithms
times = []
for i, dist in enumerate(distance):
    if dist < 20000:
        if np.absolute(USGS_QUAKES[index[i][0]][1]-EMSC_QUAKES[i][1]) < 1000:
            print(USGS_QUAKES[index[i][0]])
            print(EMSC_QUAKES[i])
            print()

(20376, 1585986334270, 33.515667, -116.5168304, 1.15)
(718, 1585986335100, 44.27, -115.24, 2.7)

(19709, 1585961973790, 38.7888336, -122.7546692, 1.04)
(795, 1585961973900, 33.99, 60.27, 3.7)

(19362, 1585863761615, -6.9704, 126.6103, 5.2)
(1105, 1585863761000, 18.9, -68.88, 3.5)

(16965, 1585180991090, 19.208334, -155.4116669, 2.13)
(2981, 1585180992000, -35.73, -73.6, 3.1)

(16620, 1585092913640, 35.8293333, -117.6666667, 1.01)
(3237, 1585092914600, -18.32, 120.13, 3.2)

(16611, 1585091143900, 37.6368332, -118.9448318, 1.43)
(3242, 1585091144300, 17.9, -66.8, 2.5)

(16338, 1585027963110, 36.0853348, -117.8408356, 1.38)
(3402, 1585027963000, 15.04, -92.6, 4.3)

(15630, 1584842895430, 60.4937, -143.0373, 1.5)
(3817, 1584842895600, 19.22, -155.42, 2.1)

(15317, 1584764465310, 32.6508333, -115.895, 1.1)
(4004, 1584764466000, 63.92, -22.0, 3.0)

(15315, 1584764336060, 19.2066669, -155.4106598, 1.94)
(4006, 1584764337000, 18.69, -102.75, 3.6)

(15260, 1584754775980, 39.0653, -119.7273, 2.0)
(4031, 1584754776500, -4.29, 151.95, 4.5)

(14943, 1584669698636, 60.4015, -147.4501, 1.6)
(4270, 1584669699000, 17.85, -66.84, 2.6)

(14327, 1584531090140, 17.9215, -66.9123, 2.37)
(4730, 1584531090000, 9.44, -83.63, 3.2)

(13988, 1584439386804, 59.7312, -152.953, 1.6)
(4941, 1584439386800, 62.87, -149.46, 3.1)

(13647, 1584342555580, 19.4116669, -155.2814941, 2.53)
(5152, 1584342554800, 10.38, -62.6, 4.7)

(13452, 1584289264352, 58.1908, -155.3922, 1.8)
(5304, 1584289263800, 36.43, 71.19, 4.1)

(13452, 1584289264352, 58.1908, -155.3922, 1.8)
(5303, 1584289263800, 36.43, 71.19, 4.1)

(13241, 1584238913580, 39.7433319, -120.9489975, 2.36)
(5435, 1584238913900, 19.2, -155.47, 2.0)

(13111, 1584202133170, 45.6691667, -111.6121667, 2.7)
(5512, 1584202132600, 19.23, -155.41, 2.3)

(13097, 1584199349940, 19.3648338, -155.1411591, 1.84)
(5519, 1584199350000, 11.4, -85.84, 3.5)

(13000, 1584171106140, 33.9578323, -116.7256699, 1.36)
(5589, 1584171106000, 18.36, -68.08, 3.4)

(12711, 1584088240550, 17.8611, -66.8386, 1.55)
(5781, 1584088241000, -6.26, 104.61, 3.4)

(12607, 1584063607500, 38.8181648, -122.8079987, 0.79)
(5831, 1584063608000, 63.86, -22.39, 3.1)

(12547, 1584040063800, 17.9608, -66.8706, 2.15)
(5890, 1584040064600, 38.99, 27.83, 2.1)

(12429, 1584009992718, 59.7265, -152.7878, 1.4)
(5960, 1584009993400, 38.42, -96.89, 2.6)

(12000, 1583883263620, 63.1161, -151.4319, 1.4)
(6261, 1583883264000, -23.78, -67.19, 3.8)

(43, 1583706164580, 33.8925, -118.2648333, 1.65)
(6701, 1583706164800, 17.98, -66.84, 2.2)

(264, 1583644895426, 60.4936, -147.6703, 1.6)
(6879, 1583644896200, 17.88, -66.84, 2.0)

(472, 1583575570130, 35.6808333, -117.5221667, 0.65)
(7043, 1583575570800, 46.6, 10.67, 2.5)

(639, 1583528470180, 36.5743333, -89.6411667, 1.95)
(7161, 1583528470300, 38.44, 27.0, 2.9)

(1254, 1583389349643, 59.86, -153.0708, 1.7)
(7525, 1583389350000, 10.59, -86.67, 3.4)

(1473, 1583332771640, 35.7926667, -117.6258333, 1.47)
(7701, 1583332772100, 38.49, 44.73, 2.4)

(1473, 1583332771640, 35.7926667, -117.6258333, 1.47)
(7700, 1583332772100, 38.49, 44.73, 2.4)

(1749, 1583267723150, 37.6611667, -118.8951667, 0.41)
(7871, 1583267722200, 17.89, -66.88, 2.7)

(1930, 1583224370850, 35.8968333, -117.7148333, 1.14)
(7983, 1583224370100, 35.88, -117.69, 3.0)

(1936, 1583223107500, 17.999, -66.777, 2.85)
(7991, 1583223108100, 19.24, -155.45, 2.7)

(2165, 1583167170027, -28.2685, -176.1101, 4.4)
(8146, 1583167170000, 10.47, -85.06, 3.1)

In [91]:
# attempting to do some lining up by hand
df[df[4]>.4].sort_values(by=4).head(30)

           0              1          2           3     4
7306    7872  1581901023650  33.501333 -116.786333  0.41
18135  18900  1585731600690  33.230167 -116.734167  0.41
21476  22242  1586174055600  33.506667 -116.503500  0.41
20436  21202  1586067639600  33.506167 -116.510333  0.41
3361    3627  1582829274500  35.857333 -117.675500  0.41
1643    1749  1583267723150  37.661167 -118.895167  0.41
3856    4180  1582739615010  37.698500 -118.877000  0.41
16384  17147  1585231111840  35.866667 -117.700833  0.41
3073    3323  1582881115290  38.837666 -122.804169  0.41
202      203  1583661066350  38.832001 -122.802170  0.41
7881    8486  1581767035880  35.858833 -117.677000  0.41
1040    1105  1583420748580  35.954333 -117.703833  0.41
21968  22734  1586251022350  33.493333 -116.497667  0.41
2078    2216  1583157793190  19.396333 -155.255167  0.41
20472  21238  1586071869810  33.487000 -116.501167  0.41
5934    6404  1582221486680  44.739333 -110.787167  0.41
10203  10939  1581233573150  47.737000 -120.228333  0.41
2169    2312  1583130306950  33.644167 -116.699000  0.41
755      788  1583502664250  33.223667 -116.717167  0.41
3825    4147  1582742271790  38.849499 -122.792000  0.41
2653    2817  1582998251880  37.551833 -118.837667  0.41
14431  15188  1584734346830  38.789333 -122.769669  0.41
2659    2823  1582996500100  33.596333 -116.799833  0.41
9298    9985  1581462127340  35.713000 -117.570667  0.41
4754    5145  1582513646430  33.599667 -116.802667  0.41
1405    1495  1583326571930  33.614333 -116.929833  0.41
5413    5856  1582343147980  33.503000 -116.770167  0.41
22010  22776  1586256864760  33.504167 -116.511833  0.41
16012  16774  1585137583590  38.803001 -122.778831  0.41
13838  14593  1584588685790  38.763332 -122.728836  0.41

In [79]:
EMSC_df = pd.DataFrame(EMSC_QUAKES)

In [84]:
EMSC_df.sort_values(by=4).head(30)

         0              1      2      3    4
946    947  1585911218000  45.61  15.21  0.4
883    884  1585928095000  45.75  14.05  0.4
839    840  1585940360000  46.09  13.68  0.4
433    434  1586076338500  45.87  15.98  0.5
231    232  1586142907400  45.90  15.98  0.5
780    781  1585966547000  45.95  14.10  0.6
836    837  1585941571000  45.70  14.42  0.6
1286  1287  1585805621100  45.89  15.96  0.6
59      60  1586213070700  47.53   9.27  0.7
599    600  1586019353900  46.64   9.60  0.7
375    376  1586099118100  45.91  16.00  0.8
529    530  1586044748900  46.59   9.88  0.8
667    668  1585996922100  45.93  16.00  0.8
818    819  1585949605900  46.14   7.43  0.8
961    962  1585905189300  47.59   8.97  0.8
972    973  1585903682000  45.86  15.99  0.9
800    801  1585959940000  45.88  14.12  0.9
139    140  1586173327600  46.35   7.51  0.9
1244  1245  1585819947500  45.90  16.03  1.0
1537  1538  1585733392400  45.89  15.98  1.0
538    539  1586041408400  45.46  15.09  1.1
2393  2394  1585391715800  46.32   7.34  1.2
802    803  1585959345900  45.90  16.00  1.2
2890  2891  1585209109600  46.93  11.28  1.2
1480  1481  1585748460900  45.90  15.99  1.2
2766  2767  1585256966500  46.87   8.60  1.2
2431  2432  1585377675400  45.87   7.01  1.3
2088  2089  1585508448500  46.59   9.65  1.3
3274  3275  1585080810400  45.82   7.24  1.3
2545  2546  1585336680600  46.25   8.89  1.3

## thought 2, use the history

well nothing so far has produced usable results. I think I'm going to try to line up quakes using the history funciton.

In [92]:
import requests

In [101]:
requests.get('http://quake-ds-staging.herokuapp.com/history/USGS/0,0,3000').json()

{'message': [{'Oceanic': False,
   'id': 3691,
   'lat': -13.794,
   'lon': -14.6731,
   'mag': 5.3,
   'place': 'Southern Mid-Atlantic Ridge',
   'time': 1582816698668},
  {'Oceanic': False,
   'id': 3697,
   'lat': -13.0278,
   'lon': -15.1094,
   'mag': 4.7,
   'place': 'Southern Mid-Atlantic Ridge',
   'time': 1582816227635},
  {'Oceanic': False,
   'id': 3912,
   'lat': -12.2781,
   'lon': -14.7808,
   'mag': 5.1,
   'place': 'Southern Mid-Atlantic Ridge',
   'time': 1582776671106}],
 'status_code': 200}

In [102]:
requests.get('http://quake-ds-staging.herokuapp.com/history/EMSC/0,0,3000').json()

{'message': [{'id': 8944,
   'lat': -13.79,
   'lon': -14.6,
   'mag': 5.3,
   'place': 'SOUTHERN MID-ATLANTIC RIDGE',
   'time': 1582845498700},
  {'id': 8950,
   'lat': -13.03,
   'lon': -15.11,
   'mag': 4.7,
   'place': 'SOUTHERN MID-ATLANTIC RIDGE',
   'time': 1582845027600},
  {'id': 9057,
   'lat': -12.29,
   'lon': -14.8,
   'mag': 5.1,
   'place': 'SOUTHERN MID-ATLANTIC RIDGE',
   'time': 1582805470900},
  {'id': 19970,
   'lat': -11.75,
   'lon': -13.78,
   'mag': 5.9,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1579271872600},
  {'id': 20219,
   'lat': 0.11,
   'lon': -17.1,
   'mag': 5.5,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1579197498600},
  {'id': 22852,
   'lat': 0.18,
   'lon': -16.93,
   'mag': 5.6,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1578302960400},
  {'id': 23063,
   'lat': -1.2,
   'lon': -12.86,
   'mag': 4.8,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1578160115700},
  {'id': 26206,
   'lat': 1.71,
   'lon': 8.18,
   'mag': 5.5,
   'place': 'SAO TOME AND PRINCIPE REGION',
   'time': 1576797959100},
  {'id': 33237,
   'lat': -6.5,
   'lon': -13.55,
   'mag': 4.7,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1573595384500},
  {'id': 36880,
   'lat': -1.14,
   'lon': -13.84,
   'mag': 6.3,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1571872094600},
  {'id': 38587,
   'lat': -5.5,
   'lon': -11.53,
   'mag': 4.7,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1571004168100},
  {'id': 44410,
   'lat': -12.63,
   'lon': -14.84,
   'mag': 4.7,
   'place': 'SOUTHERN MID-ATLANTIC RIDGE',
   'time': 1568174873900},
  {'id': 51411,
   'lat': -14.18,
   'lon': -13.91,
   'mag': 5.0,
   'place': 'SOUTHERN MID-ATLANTIC RIDGE',
   'time': 1564558864200},
  {'id': 55863,
   'lat': -0.04,
   'lon': -16.93,
   'mag': 5.2,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1562820228600},
  {'id': 59612,
   'lat': -1.89,
   'lon': -12.96,
   'mag': 4.8,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1561874583600},
  {'id': 59628,
   'lat': -1.52,
   'lon': -12.35,
   'mag': 4.9,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1561863564700},
  {'id': 59629,
   'lat': -1.75,
   'lon': -13.04,
   'mag': 5.0,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1561863080900},
  {'id': 63934,
   'lat': -14.08,
   'lon': -14.49,
   'mag': 5.4,
   'place': 'SOUTHERN MID-ATLANTIC RIDGE',
   'time': 1559409464000},
  {'id': 65260,
   'lat': -2.61,
   'lon': -12.22,
   'mag': 5.1,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1558652201400},
  {'id': 67683,
   'lat': -3.29,
   'lon': -12.09,
   'mag': 5.0,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1557184290000},
  {'id': 67702,
   'lat': -3.3,
   'lon': -12.29,
   'mag': 5.4,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1557174188700},
  {'id': 71888,
   'lat': -7.48,
   'lon': -13.57,
   'mag': 4.9,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1554882460400},
  {'id': 79403,
   'lat': -17.8,
   'lon': -13.63,
   'mag': 5.5,
   'place': 'SOUTHERN MID-ATLANTIC RIDGE',
   'time': 1550898958200},
  {'id': 85251,
   'lat': -12.61,
   'lon': -14.64,
   'mag': 4.7,
   'place': 'SOUTHERN MID-ATLANTIC RIDGE',
   'time': 1547438763400},
  {'id': 91118,
   'lat': -3.07,
   'lon': -12.07,
   'mag': 4.5,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1544078017600},
  {'id': 92533,
   'lat': -0.1,
   'lon': -17.9,
   'mag': 4.6,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1543561970700},
  {'id': 92863,
   'lat': -1.02,
   'lon': -13.67,
   'mag': 5.8,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1543349007500},
  {'id': 92934,
   'lat': -11.75,
   'lon': -13.97,
   'mag': 4.9,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1543306410800},
  {'id': 99444,
   'lat': -1.37,
   'lon': -15.73,
   'mag': 4.5,
   'place': 'NORTH OF ASCENSION ISLAND',
   'time': 1539841034200},
  {'id': 99979,
   'lat': -7.06,
   'lon': -13.54,
   'mag': 4.6,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1539516842500},
  {'id': 100868,
   'lat': -7.34,
   'lon': -13.07,
   'mag': 5.0,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1538930668200},
  {'id': 100870,
   'lat': -7.31,
   'lon': -13.24,
   'mag': 4.9,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1538930264500},
  {'id': 100883,
   'lat': -7.34,
   'lon': -13.2,
   'mag': 4.9,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1538924277100},
  {'id': 101079,
   'lat': -5.64,
   'lon': -11.41,
   'mag': 5.2,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1538777607500},
  {'id': 101081,
   'lat': -5.6,
   'lon': -11.42,
   'mag': 5.7,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1538776784000},
  {'id': 101082,
   'lat': -5.6,
   'lon': -11.42,
   'mag': 5.7,
   'place': 'ASCENSION ISLAND REGION',
   'time': 1538776784000}],
 'status_code': 200}

The first three quakes around the area are clearly the same quakes, so there are some in the database, the question is just finding them. 
I'm going to try to algorithmically go through all of the EMSC quakes and search for proximity of time.

In [113]:
for quake in EMSC_QUAKES:
    url = f'http://quake-ds-staging.herokuapp.com/history/USGS/{quake[3]},{quake[4]},500'
    responses = requests.get(url).json()['message']
    if len(responses) != 0:
        for response in responses:
            if np.absolute(response['time'] - quake[1]) < 2000:
                print('EMSC:', quake)
                print(response)

This proved to be wayyyyy to slow. probably because its calling the api 20000 times 

I'm going to go back and try alternate algorithms now.

In [26]:
# instanciate the classifier
classifier = NearestNeighbors(n_neighbors=1, algorithm='kd_tree')
# train the classifier 
classifier.fit(df)
# run the classifier on all the data 
distance, index = classifier.kneighbors(edf)
#check the best match
distance.min()

6.348473394446884

In [28]:
# instanciate the classifier
classifier = NearestNeighbors(n_neighbors=1, algorithm='auto')
# train the classifier 
classifier.fit(df)
# run the classifier on all the data 
distance, index = classifier.kneighbors(edf)
#check the best match
distance.min()

6.348473394446884

In [29]:
# instanciate the classifier
classifier = NearestNeighbors(n_neighbors=1, algorithm='ball_tree')
# train the classifier 
classifier.fit(df)
# run the classifier on all the data 
distance, index = classifier.kneighbors(edf)
#check the best match
distance.min()

6.348473394446884

In [31]:
# instanciate the classifier
classifier = NearestNeighbors(n_neighbors=1, algorithm='brute')
# train the classifier 
classifier.fit(df)
# run the classifier on all the data 
distance, index = classifier.kneighbors(edf)
#check the best match
distance.min()

0.0

# Brute force seems to be the best algorithm 

I'm going to line up the results and see what happens

In [44]:
# merge distance and index into one array, then a DF
dist_df = pd.DataFrame(np.concatenate((distance, index), axis=1), columns=['distance', 'USGS_index'])
dist_df = dist_df.set_index(pd.Index(np.arange(1,20001)))

In [50]:
# merge the predictions back with the quake data
df2 = edf.reset_index().merge(dist_df.reset_index(), left_on=0, right_on='index')

In [84]:
#seperate everything with 0 distance, theoretically they are the same quake
zero_dist = df2[df2['distance'] == 0]
zero_dist.shape, low_dist.shape

((1423, 8), (1423, 8))

In [85]:
# rename columns for ease of reading
zero_dist = zero_dist.rename(columns={0: 'E_id', 1:'E_time', 2:'E_lat', 3:'E_lon', 4:'E_mag', 'index':'id(also)', 'distance':'distance_from_USGS', 'USGS_index':'USGS_id'})
low_dist = low_dist.rename(columns={0: 'E_id', 1:'E_time', 2:'E_lat', 3:'E_lon', 4:'E_mag', 'index':'id(also)', 'distance':'distance_from_USGS', 'USGS_index':'USGS_id'})
df2 = df2.rename(columns={0: 'E_id', 1:'E_time', 2:'E_lat', 3:'E_lon', 4:'E_mag', 'index':'id(also)', 'distance':'distance_from_USGS', 'USGS_index':'USGS_id'})

In [94]:
#checking to see if any match up, it doesn't look like they do 
merged = zero_dist.merge(df.reset_index(), left_on='USGS_id', right_on=0, how='left')
merged['time_matches'] = merged['E_mag'] == merged[4]
merged[merged['time_matches']]

,E_id,E_time,E_lat,E_lon,E_mag,id(also),distance_from_USGS,USGS_id,0,1,2,3,4,time_matches
28,234,1586142773000,45.68,14.20,1.4,234,0.0,21208.0,21208.0,1.586069e+12,35.592835,-117.40567,1.4,True
125,703,1585990532900,33.50,-116.51,2.5,703,0.0,19669.0,19669.0,1.585951e+12,44.223500,-115.11420,2.5,True
722,7811,1583287860400,39.77,41.56,2.0,7811,0.0,1563.0,1563.0,1.583314e+12,39.647000,-120.03710,2.0,True
735,7895,1583256674000,30.55,130.95,4.8,7895,0.0,1693.0,1693.0,1.583281e+12,24.454400,96.15620,4.8,True

Thats weird. I would have really expected that to work. I'm going to see what I can do with the kneighbors algorithm to get better results

In [76]:
#I have no idea how this works 
classifier.radius_neighbors(edf)

(array([array([], dtype=float64), array([0.]), array([], dtype=float64),
        ..., array([], dtype=float64), array([], dtype=float64),
        array([], dtype=float64)], dtype=object),
 array([array([], dtype=int64), array([21862]), array([], dtype=int64),
        ..., array([], dtype=int64), array([], dtype=int64),
        array([], dtype=int64)], dtype=object))